<div class="jumbotron">
	<!-- ko if: userLoggedIn -->
	<p>
	<h1>You are logged in</h1>
		<table class="table">
			<tbody>
				<tr>
					<th>DisplayName</th>
					<td data-bind="text: userDisplayName"></td>
				</tr>
				<tr>
					<th>Email</th>
					<td data-bind="text: userEmail"></td>
				</tr>
			</tbody>
		</table>
		<button class="btn btn-danger btn-lg" data-bind="click: logout">Log out</button>
	</p>
	<!-- /ko -->
	<!-- ko ifnot: userLoggedIn -->
	<p>
		<h1>You are not logged in</h1>
		<button class="btn btn-danger btn-lg" data-bind="click: login">Log in with Google</button>
	</p>
	<!-- /ko -->
</div>